[submodule "denial-of-service/auction/lib/forge-std"]
	path = denial-of-service/auction/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "denial-of-service/loop/lib/forge-std"]
	path = denial-of-service/loop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "reentrancy/example-1/lib/forge-std"]
	path = reentrancy/example-1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "mishandling-of-eth/self-destruct/lib/forge-std"]
	path = mishandling-of-eth/self-destruct/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "mishandling-of-eth/mishandling-eth-revert/lib/forge-std"]
	path = mishandling-of-eth/mishandling-eth-revert/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
